button
{
    font-family: inherit;

    padding: var(--space-4) var(--space-12);

    color: inherit;
    border: var(--default-border);
    outline: none;
    background: inherit;
}

button:hover
{
    cursor: pointer;
}
