.chat-area
{
    display: flex;
    overflow: scroll;
    flex-direction: column;

    width: 100%;
    height: var(--view-height-40);
    margin: var(--space-20) 0;
    padding: var(--space-12);

    background: var(--clover-dark);
}

.user-message
{
    align-self: flex-end;

    text-align: right;
}
